.Dashboard-grid {
  display: grid;
  padding: 1.25rem;
  /* width: 1920px;
  margin: auto; */
  height: calc(100vh - 152px);
  /* max-height: 1080px; */
  grid-template-columns: 475px 1fr 360px;
  grid-template-rows: 4.125rem 1.65rem 18.5rem 1fr;
  grid-template-areas:
    'left-panel tab-bar tab-bar'
    'left-panel button-bar button-bar'
    'left-panel top-panel right-panel'
    'left-panel bottom-panel right-panel';
  gap: 0.625rem;
}
