.Header-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 1.25rem 1.5rem;
  background-color: var(--color-palette-darkblue-900);
}

.Header-input {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
