.DoughnutChart-inner {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  top: calc(50% - var(--spacing-6));
  height: --spacing-12;
  justify-content: center;
}
