.Header-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.Header-input {
  display: flex;
  gap: var(--spacing-2);
  align-items: center;
}

#Header-input-btn rux-button::part(container) {
  width: inherit;
}
