.Dashboard-top-panel {
  grid-area: top-panel;
  --body-padding: var(--spacing-0);
}

.TopPanel-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.TopPanel-header-right {
  display: flex;
  align-items: center;
  gap: var(--spacing-3);
}

.TopPanel-header-right > p {
  min-width: fit-content;
}

.TopPanel-charts-container {
  height: 14.5rem;
  display: grid;
  grid-template-columns: repeat(3, 20rem);
  gap: var(--spacing-3);
  align-items: center;
  justify-content: space-evenly;
  padding: var(--spacing-0) var(--spacing-4);
}

.TopPanel-chart-item {
  width: 12.5rem;
  position: relative;
  display: flex;
  align-items: center;
  gap: var(--spacing-6);
}
