.Dashboard-top-panel {
  grid-area: top-panel;
}

.TopPanel-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.TopPanel-header-right {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.TopPanel-header-right > p {
  min-width: fit-content;
}

.TopPanel-charts-container {
  height: 12rem;
}
