.Dashboard-top-panel {
  grid-area: top-panel;
  --body-padding: var(--spacing-4) var(--spacing-3);
}

.TopPanel-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.TopPanel-header-right {
  display: flex;
  align-items: center;
  gap: var(--spacing-3);
}

.TopPanel-header-right > p {
  min-width: fit-content;
}

.TopPanel-charts-container {
  height: 13.25rem;
  display: grid;
  grid-template-columns: repeat(3, 330px);
  gap: 0.625rem;
  align-items: center;
  padding: var(--spacing-0) 1.25rem;
}

.TopPanel-chart-item {
  width: 200px;
  position: relative;
  display: flex;
  align-items: center;
  gap: 1.25rem;
}
