.Legend-container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-3);
}

.Legend-item {
  display: flex;
  align-items: center;
  gap: var(--spacing-3);
}

.Legend-box {
  width: var(--spacing-6);
  height: var(--spacing-6);
  border-radius: var(--radius-base);
}

#Legend-charlie {
  background-color: var(--color-palette-purple-300);
}

#Legend-delta {
  background-color: var(--color-palette-purple-400);
}

#Legend-foxtrot {
  background-color: var(--color-palette-purple-600);
}

#Legend-hotel {
  background-color: var(--color-palette-purple-800);
}
